html, body {
    height: 100%;
}

.putItCenter {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    max-width: 400px;
    border: 1px dotted #bbb;
}

h3 {
    margin-top: 20px;
    margin-bottom: 30px;
    color: blueviolet;
}
